@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

* {
    font-family: 'Playfair Display', serif;
}

.container {
    position: relative;
    width: 1200px;
    margin:auto;
}

.container h1 {
    font-size: 80px;
    font-weight: 500;
    width: 400px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #dede12;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.container p {
    line-height: 1.6;
    margin-bottom: 1em;
    column-count: 2;
    column-gap: 460px;
}

