* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family: sans-serif;
}

.form {
    width: 50%;
    position: relative;
    height: 50px;
}

.form input {
    width: 100%;
    height: 100%;
    color: #595f61;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #000;
}

.form label::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 100%;
    width: 0;
    border-bottom: 3px solid #3434f4;
    transition: all 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.form input:not(:placeholder-shown) + .label-name .content-name,
.form input:focus + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: #3434f4;
}
.form input:not(:placeholder-shown) + .label-name::after,
.form input:focus + .label-name::after {
    width: 100%;
}
